* {
    box-sizing: border-box;
}

html {
    font-size: x-small;
}

body {
    background-image: url('../assests/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    z-index: 1;
}

.content-container {
    padding-top: 5%;
    max-height: 50%;
    height: 50%;
}

.record-cover, .record {
    position: fixed;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}

.record-cover {
    transform: translateX(-40%);
}

.scroll {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.profile-pic {
    width: 25%;
    margin: 5%;
    border-radius: 50%;
}


/* LANDSCAPE */
@media (orientation: landscape) {
    .content-container {
        margin-left: 50%;
        width: auto;
        max-width: 50%;
    }

    .record-cover, .record {
        left: 0;
    }
}


/* xs */
@media (min-width: 475px) {
    html {
        font-size: small;
    }

    /* body {
        border: dashed 2px red;
    } */

    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    /* body{
        border: dashed 2px purple;
    } */

    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    /* body {
        border: dashed 2px blue;
    } */
    
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    html {
        font-size: small;
    }

    /* body {
        border: dashed 2px orange;
    } */

    .container {
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    html {
        font-size: medium;
    }
    
    /* body {
        border: dashed 2px yellow;
    } */

    .container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    html {
        font-size: large;
    }

    /* body {
        border: dashed 2px green;
    } */

    .container {
        max-width: 1536px;
    }
}