* {
    font-family: "Dosis", sans-serif;
}

html {
    background-color: #282a39;
    overflow-x: hidden;
    line-height: 1.5;
}

html, body {
    height: 100%;
    margin: 0;
}

body > header {
    position: sticky;
    bottom: 100vh;
}

body > footer {
    position: sticky;
    top: 100vh;
}

header {
    background-color: #1f1f2b;
    width: 100%;
    height: 125px;
    text-align: center;
    align-content: center;
}

h1, h2, h3 {
    text-transform: uppercase;
    color: #fad66a;
}

li {
    list-style-type: none;
}

form {
    border-radius: 5px;
    padding: 20px;
    margin: 5% 15% 5% 15%;
}

input, select, option, textarea {
    font: 18px "Dosis", sans-serif;
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input:hover, select:hover, option:hover, textarea:hover {
    border: 4px solid #fad66a;
    transition: 0.5s;
}

button {
    position: relative;
    color: #fad66a;
    border: 2px solid #ccc;
    background-color: transparent;
    border-radius: 8px;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    justify-self: center;
    padding: 12px 20px;
}

button:hover {
    border: 2px solid #fad66a;

    transition: 0.5s;
}

footer {
    background-color: #1f1f2b;
    color: #fad66a;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    text-align: center;
    padding: 18px;
    font-size: 20px;
}

.navbar-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fad66a;
    transition: 0.5s;
    font-size: 28px;
    padding: 20px;
}

.navbar-link:hover {
    color: #90a15f;
    transition: 0.5s;
    font-size: 34px;
}

.social-link {
    color: #fad66a;
    text-decoration: none;
    text-transform: uppercase;
}

.social-logo {
    max-height: 40px;
    transition: 0.5s;
    padding: 8px;
}

.social-logo:hover {
    max-height: 50px;
    transition: 0.5s;
}

.link-text {
    text-decoration: none;
    text-transform: capitalize;
    color: #af9649;
    transition: 0.5s;
}

.link-text:hover {
    color: #90a15f;
    transition: 0.5s;
    font-size: 24px;
}
